@charset "UTF-8";

* {
    font-family: Arial;
    
}

.grid {
    
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}


.titulo {
    grid-column: 2;
}




h1, p {
    margin: 0px;
    font-size: 48px;
}

h1 { 
    background-color: rgb(167, 153, 194);
    font-size: 48px;
    line-height: 1;
}
body {
    margin: 40px;
}

p {
    font-size: 20px;

}

.comprar {
    text-align: center;
    background-color: #a8f;
    color: #103;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    align-self: start;
}

.descricao {
    
    text-align: right;
}

.preco {
    font-weight: bold;
    place-self: start end;
    width: 80px;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
}

img {
    border-radius: 5px;
    max-width: 100%;
}