@charset "UTF-8";

* {
    font-family: Arial;
}



h1 {
    text-align: center;
}

h2 {
    margin-top: 0px;
}

.comprar {
    background-color: #a8f;
    color: #103;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.item {
    background: rgb(233, 233, 233);
    border: 1px solid black;
    
    padding: 20px;
    border-radius: 5px;
}

.grid {
    
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}